.first-series {
    margin-top: 100px;
}

.desc h1 {
    text-align: left !important;
    margin-right: 50px;
}

p {
    line-height: 2.5
}

#gaslight {
    height: 500px;
    width: 100%;
}

.desc {
    margin-top: 100px;
}

/* .carousel {
    contain: content;
} */


/* .image-carousel {
    display: flex;
    justify-content: center;
    /* margin-left: 250px; */
    /* margin-right: 50px; */
  /* } */ 
/*   
  .image-carousel img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
  } */
  
  /* .btn {
    outline: none;
    border-radius: 10rem;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1rem;
  }
  
  .button-group {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
/* 
  .thumbnail-gallery{
    border:1px solid #efefef;
    border-radius:5px;
    margin-top:20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    padding-bottom:8px;
    background-color: #ffffff;
  } */