.nav {
    max-width: 1850px;
}


.nav-tabs {
    display: flex;
    float: right;
    list-style-type: none;
   
    
}

.nav-item {
    margin-left: 20px;
    
}

.nav-link {
    text-decoration: none;
    color: #282d32 !important;
    font-size: 22px;
    border-color: transparent !important;
    background-color: transparent !important;
   
}








