.blog {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    align-content: center;
}

.press {
    color: white;
    font-size: 60px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #ui {
        width: 640px !important;
    }
    
}

@media screen and (max-width: 812px) {
    .press {
        font-size: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        display: none;
    }
}